div{
  width:100%;
  height:100px;
  margin-top:10px;
}
.ltr{
  background-image: linear-gradient(to right, blue, red)
}
.rtl{
  background-image: linear-gradient(to left,
    blue, blue 25%, red 15%)
}
.ttb{
  background-image:linear-gradient(to bottom, red, blue)
}
.btt{
  background-image: linear-gradient(to top, red, blue)
}
.angle-1{
  background-image:linear-gradient(4deg, red, red 50%, blue 0%)
}
.multi-line{
  background-image:linear-gradient(15deg, red, blue, orange, teal, pink, purple)
}
.radial-1{
  background-image:radial-gradient(circle at top right, red, red 30%, blue 30%);
  height:300px;
}
.radial-2{
  background-image: radial-gradient(closest-side at 50% 50%, red, red 50%, green 31%);
  height:400px;
  width:400px;
  
 
}
.repeatal{
  background-image: repeating-radial-gradient(red, green 20%, blue 25%);
}